<!-- popups -->
<!-- .closeBtn - закрывает попап -->
<!-- .open-* - открывает попап -->

<div class="overlay-signIn overlayPopup">
    <div class="close"></div>
    <div class="signIn__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <form>
                <div class="form-input">
                    <span class="icon"><i class="icon-user"></i></span>
                    <input type="text" placeholder="Введите Ваш имя" required>
                </div>
                <div class="form-input">
                    <span class="icon"><i class="icon-mail"></i></span>
                    <input type="email" placeholder="Введите Ваш e-mail" required>
                </div>
                <div class="form-input">
                    <span class="icon"><img src="../img/lock.png" alt=""></span>
                    <input type="password" placeholder="Введите Ваш пароль" required>
                </div>
                <div class="form-buttons">
                    <button class="btn blueBtn">Войти</button>
                    <a href="#signId" class="btn blueBtn scrollLink">Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
</div>
    