<header class="header">
    <div class="header__wrap">
        <div class="leftBlk">
            <button class="toggle-menu">
                <span class="sandwich">
                    <span class="sw-topper"></span>
                    <span class="sw-bottom"></span>
                    <span class="sw-footer"></span>
                </span>
            </button>
            <a class="header__logo" href="index.html">
                <img src="../img/logo.png" alt="logotype">
            </a>
        </div>
        <div class="header__user">
            <a href="user-account.html" class="userLink">
                <div class="avatar">
                    <img src="../img/user.png" alt="user">
                </div>
                <p>Адам Смит</p>
            </a>
            <a href="javascript:void(0)">Выйти</a>
        </div>
    </div>
</header>