<aside class="sidebar">
    <div class="closeSidebar"></div>
    <nav>
        <ul>
            <li class="active goals">
                <a href="user-account.html">Мои цели</a>
            </li>
            <li class="assets-liabilities">
                <a href="assets-liabilities.html">Активы и пассивы</a>
            </li>
            <li class="financial-flow">
                <a href="Income-expenses.html">Финансовый поток</a>
            </li>
            <li class="portfolio">
                <a href="portfolio.html">Мой портфель</a>
            </li>
            <li class="control">
                <a href="control.html">Управление</a>
            </li>
            <li class="common">
                <a href="common-panel.html">Общая панель</a>
            </li>
        </ul>
    </nav>
</aside>