
.icon-user:before { content: '\e800'; } /* '' */
.icon-icon1:before { content: '\e801'; } /* '' */
.icon-icon2:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-icon3:before { content: '\e804'; } /* '' */
.icon-icon5:before { content: '\e805'; } /* '' */
.icon-icon6:before { content: '\e806'; } /* '' */
.icon-icon8:before { content: '\e807'; } /* '' */
.icon-icon9:before { content: '\e808'; } /* '' */
.icon-affiliate:before { content: '\e809'; } /* '' */
.icon-biceps:before { content: '\e80a'; } /* '' */
.icon-case:before { content: '\e80b'; } /* '' */
.icon-004-book:before { content: '\e80c'; } /* '' */
.icon-employee:before { content: '\e80d'; } /* '' */
.icon-heart:before { content: '\e80e'; } /* '' */
.icon-plaster:before { content: '\e80f'; } /* '' */
.icon-cancel-circled2:before { content: '\e810'; } /* '' */
.icon-009-grandparents:before { content: '\e811'; } /* '' */
.icon-010-father:before { content: '\e812'; } /* '' */
.icon-pencil:before { content: '\e813'; } /* '' */
.icon-012-businessman:before { content: '\e814'; } /* '' */
.icon-013-worker:before { content: '\e815'; } /* '' */
.icon-014-deck-chair:before { content: '\e816'; } /* '' */
.icon-015-diet:before { content: '\e817'; } /* '' */
.icon-016-tshirt:before { content: '\e818'; } /* '' */
.icon-017-gift:before { content: '\e819'; } /* '' */
.icon-yahta:before { content: '\e81b'; } /* '' */
.icon-warning:before { content: '\e821'; } /* '' */
.icon-icon10:before { content: '\e822'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */